{% extends "base.html" %}

{% block title %}
방 종료
{% endblock %}

{% block content %}

<div class="center-page">

    <div class="ui-card">

        <h1 class="ui-title">
            방이 종료되었습니다
        </h1>

        <p class="ui-subtitle">
            해당 방의 참여 정보가 초기화되었습니다.
        </p>

        <div class="mt-30">

            <a href="/">
                <button class="primary-btn">
                    새 방 만들기
                </button>
            </a>

        </div>

    </div>

</div>

{% endblock %}