{% extends "base.html" %}

{% block title %}
방 만들기
{% endblock %}

{% block content %}

<div style="
background:#101114;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
height:100vh;
">

    <h1>집단 온도 추천 AI</h1>

    <p>몇 명이 투표할지 정해주세요.</p>

    <form method="post">

        <input type="number"
               name="target_count"
               min="2"
               max="30"
               value="5"
               required>

        <button type="submit">
            방 만들기
        </button>

    </form>

</div>

{% endblock %}