{% extends "base.html" %}

{% block title %}
방 만들기
{% endblock %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}

{% block content %}

<div class="center-page">

    <div class="ui-card">

        <h1 class="ui-title">
            집단 온도 추천 AI
        </h1>

        <p class="ui-subtitle">
            몇 명이 투표할지 정해주세요.
        </p>

        <form method="post" class="mt-30">

            <input type="number"
                   name="target_count"
                   min="2"
                   max="30"
                   value="5"
                   required>

            <div class="mt-20">
                <button type="submit"
                        class="primary-btn">
                    방 만들기
                </button>
            </div>

        </form>

    </div>

</div>

{% endblock %}