{% extends "base.html" %}

{% block title %}
오류
{% endblock %}

{% block content %}

<div class="center-page">

    <div class="ui-card">

        <h1 class="ui-title">
            {{ title }}
        </h1>

        <p class="ui-subtitle">
            {{ message }}
        </p>

        <div class="mt-30">

            <a href="/" style="text-decoration:none;">
                <button class="primary-btn">
                    메인으로 돌아가기
                </button>
            </a>

        </div>

    </div>

</div>

{% endblock %}